:root {
  /* Colores de texto */
  --colorBlanco: #ffffff;
  --colorNegro: #000000;
  --colorCeleste: #92c5d9;
  --colorBlancoTransparente: rgba(255, 255, 255, 0.7);
  --colorGrisOscuro: #777777;

  /* Colores de fondo */
  --bg-celeste: #92c5d9;
  --bg-grisClaro: #f4f5f5;
  --fondoNegroTransparente: rgba(0, 0, 0, 0.5);
  --fondoGrisClaro: #f5f5f5;
  --fondoNegro: #000000;
  --fondoBlanco: #ffffff;

  /* Tamaños y estilos */
  --font-size-small: 0.8em;
  --font-size-medium: 1em;
  --font-size-large: 1.5em;
  --font-size-xl: 2em;
  --font-size-xxl: 3em;
  --font-size-xxxl: 5em;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --line-height-small: 1.3;
  --line-height-big: 1.5;

  /* Sombras de texto */
  --text-shadow: 3px 9px 16px rgba(0, 0, 0, 0.18);

  /* Sombras comunes */
  --box-shadow-light: 0 10px 20px rgba(0, 0, 0, 0.3);
  --box-shadow-lighter: 0 0.25em 1.25em rgba(0, 0, 0, 0.2);

  /* Duraciones y efectos de transición */
  --transition-medium: all 0.4s ease;
  --transition-transform-ease: transform 0.3s ease, box-shadow 0.3s ease;
  --transition-transform-ease-out: transform 0.8s ease-out, opacity 0.8s ease-out, visibility 0.8s;
  --transition-background-ease: background-color 0.4s ease;
  --transition-opacity-ease: opacity 0.4s ease;
  --transition-background-fast-ease: background-color 0.3s ease;
  --transition-color-fast-ease: color 0.3s ease;
  --transition-easing-default-fast: all .25s ease-in-out;
  --transition-transform-slow-ease-out: transform 0.8s ease-out, opacity 0.8s ease-out;
  --transition-easing-default-medium: all .5s ease-in-out;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* removiendo margins por default */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption {
  margin: 0;
}

/* removiendo paddings por default */
ul[class],
ol[class] {
  padding: 0;
}

body {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

header {
  max-width: 1920px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow-lighter);
}

main,
footer {
  max-width: 1920px;
}

img {
  max-width: 100%;
  height: auto;
}

ul[class],
ol[class] {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
  letter-spacing: 0;
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-small);
}

h2 {
  text-align: center;
  margin: 1.2em 0;
  text-transform: uppercase;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
}

h3 {
  text-transform: uppercase;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* CLASES UTILES */
.w-80 {
  width: 80%;
}

.banner-gridBlogYSingleProduct {
  background-image: url('../images/bannertopblog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

.banner-aboutUs {
  background-image: url('../images/banner-about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

.banner-blogPost {
  background-image: url('../images/banner-blogPost.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

.tituloBanner-gridBlog-singleProduct-aboutUs {
  font-size: var(--font-size-xxl);
  text-shadow: var(--text-shadow)
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-white {
  color: var(--colorBlanco);
}

.text-black {
  color: var(--colorNegro);
}

.text-bold {
  font-weight: bold;
}

.text-blue {
  color: var(--colorCeleste);
}

.text-blue {
  color: var(--colorCeleste);
  font-weight: bold;
}

.text-grey {
  color: #454648;
}

.text-a3a3a3 {
  color: #a3a3a3;
}

.bg-grey {
  background-color: #454648;
}

.bg-f5 {
  background-color: var(--fondoGrisClaro);
}

.bg-white {
  background-color: var(--colorBlanco);
}

.bg-black {
  background-color: var(--colorNegro);
}

.cont-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.evenly {
  display: flex;
  justify-content: space-evenly;
}

.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  flex-direction: column;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.contenedor-ubicacion {
  padding: 1em;
}

.ubicacion {
  gap: 1em;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    letter-spacing: .14em;
  }

  a:hover {
    color: var(--colorNegro);
    font-weight: var(--font-weight-bold);
  }
}

.cont-carousel {
  padding: 0 10em;
  gap: 1em;
}

.title-carousel2Y3 {
  width: 55%;
}

.title-carousel-span2 {
  color: #bbb;
}


/* NAVBAR */
header {
  height: 17vh;
  width: 100%;
}

.contenedorGeneral-header {
  width: 80%;
}

.contenedor-logo-navbar {
  width: 7em;
}

.navbar {
  width: 100%;
}

.nav-lista-links {
  gap: 3em;
}

.nav-links {
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  letter-spacing: .14em;
  transition: var(--transition-easing-default-fast);
}

.nav-links:hover {
  color: var(--colorCeleste);
}

.contenedor-icons-navbar {
  gap: 2em;
}

.img-icons-navbar {
  height: 1.5em;
  cursor: pointer;
}


/* HOME */
/* carousel */
.carousel-section {
  background-image: url('../images/slide-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.carousel-content-p {
  color: var(--colorBlancoTransparente);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-top: 1em;
}

.carousel-content-a {
  border-color: var(--colorBlanco);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 2;
  transition: var(--transition-easing-default-medium);
  padding: .6em 2.5em;
  margin-top: 2em;
}

.carousel-content-a:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco);
  border: var(--colorCeleste);
}

.carousel2-section {
  background-image: url('../images/slide-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.carousel2-content-p {
  color: var(--colorGrisOscuro);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  width: 55%;
}

.carousel2-content-a {
  font-size: var(--font-size-small);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2;
  transition: var(--transition-easing-default-medium);
  padding: 1em 0;
  width: 25%;
  margin-top: 2em;
}

.carousel2-content-a:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco);
  border: var(--colorCeleste);
}

.carousel3-section {
  background-image: url('../images/slide-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.carousel3-content-p {
  color: var(--colorGrisOscuro);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  width: 45%;
}

.carousel3-content-a {
  font-size: var(--font-size-small);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2;
  transition: var(--transition-easing-default-medium);
  padding: 1em 0;
  width: 20%;
  margin-top: 2em;
}

.carousel3-content-a:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco);
  border: var(--colorCeleste);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  background-color: var(--colorBlanco);
  color: var(--colorNegro);
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: var(--font-size-large);
  border-radius: 50%;
}

.prev-button {
  left: 1em;
}

.next-button {
  right: 1em;
}

.carousel-button:hover {
  background-color: var(--bg-celeste);
}

/* categories */
.categories-section {
  padding: 4em 0;
}

.contenedor-fila-categories {
  gap: 2em;
  margin-bottom: 2em;
  transition: var(--transition-transform-slow-ease-out);
}

.articulos-categories {
  border: 1px solid var(--colorBlanco);
  width: 25em;
  height: auto;
  gap: 1em;
  padding: 3em;
}

.img-articulo-categories {
  width: 3em;
  height: auto;
}

.title-articulo-categories {
  margin-bottom: .5em;
}

.title-articulo-categories a {
  text-decoration: none;
  transition: var(--transition-easing-default-fast);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.06em;
}

.title-articulo-categories a:hover {
  color: var(--colorCeleste);
}

.p-articulo-categories {
  color: #bbb;
  transition: var(--transition-color-fast-ease);
}


/* trending products */
.trending-products-section {
  padding: 1em 0;
}

.contenedor-fila-trending-products {
  margin-bottom: 4em;
  gap: 2em;
  transition: var(--transition-transform-slow-ease-out);
}

.articulo-trending-products {
  padding: 1.5em;
  width: 18em;
  height: 23em;
  border-radius: .3em;
  transition: var(--transition-transform-ease);
}

.articulo-trending-products:hover {
  box-shadow: var(--box-shadow-lighter);
  background-color: var(--colorBlanco);
  height: 28em;
}

.articulo-trending-products figure {
  height: 16em;
  width: 100%;
}

.articulo-trending-products img {
  width: 9vw;
}

.title-articulo-trending-products {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.title-articulo-trending-products:hover {
  color: var(--colorCeleste);
  cursor: pointer;
}

.precio-tachado {
  text-decoration: line-through;
}

.cont-precios {
  gap: 1em;
}

.sale {
  background-color: #f96666;
  color: var(--colorBlanco);
  font-size: var(--font-size-small);
  padding: .3em 1em;
  border-radius: .4em;
}

.new {
  background-color: #93a6ab;
  color: var(--colorBlanco);
  font-size: var(--font-size-small);
  padding: .3em 1em;
  border-radius: .4em;
}

.hover-icons {
  margin: 1.5em 0;
  gap: 1em;
  opacity: 0;
}

.product-card:hover .hover-icons {
  opacity: 1;
}

.icon-circle-trendingProducts {
  background-color: #e9da5d;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 0 0.125em 0.313em rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.icon-circle-trendingProducts img {
  width: 1.5em;
}

.icon-circle2-trendingProducts {
  background-color: var(--colorCeleste);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 0 0.125em 0.313em rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.icon-circle2-trendingProducts img {
  width: 1.5em;
}

.icon-circle-trendingProducts:hover {
  background-color: var(--colorCeleste);
  transform: scale(1.1);
}

.icon-circle2-trendingProducts:hover {
  background-color: #e9da5d;
  transform: scale(1.1);
}

.icon-circle-trendingProducts img {
  max-width: 1.5em;
  height: auto;
}

/* founder */
.founder-section {
  background-color: var(--bg-grisClaro);
  padding: 6em 0;
}

.cont-article-founder-section {
  gap: 3em;
  transition: var(--transition-transform-ease-out);
}

.cont-article-founder-section figure {
  width: 100%;
}

.founder-info {
  flex-direction: column;
}

.title-founder-section {
  font-size: 2.5em;
  letter-spacing: 0.02em;
  line-height: var(--line-height-big);
  color: #151515;
}

.text-founder {
  font-size: var(--font-size-medium);
  letter-spacing: 0;
  line-height: var(--line-height-big);
  font-weight: var(--font-weight-bold);
  color: var(--colorGrisOscuro);
  font-family: "Lato", sans-serif;
  width: 100%;
  text-align: justify;
  margin: 1.5em 0;
}

.founder-details {
  gap: 2.5em;
}

.arrow-link {
  width: 6em;
  height: 3em;
  background-color: var(--bg-celeste);
  border-radius: 50%;
  line-height: var(--line-height-big);
  transition: var(--transition-background-fast-ease);
  text-decoration: none;
}

.arrow-link:hover {
  background-color: #e9da5d;

  i {
    color: var(--colorNegro);
  }
}

.founder-name {
  width: 50%;
}

.founder-sign {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: #151515;
  cursor: pointer;
}

.founder-sign:hover {
  color: var(--colorCeleste);
}

.founder-text {
  font-size: var(--font-size-medium);
  color: var(--colorGrisOscuro);
  margin-top: .5em;
}

.signature {
  width: 70%;
}

/* portfolio */
.portfolio {
  margin-top: 8em;
}

.title-portfolio {
  margin-bottom: 1.3em;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  margin-bottom: 3.125em;
}

.parent figure {
  width: 100%;
  height: 100%;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-medium);
  position: relative;
}

.article-portfolio-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.article-portfolio-2 {
  grid-area: 1 / 2 / 3 / 3;
}

.article-portfolio-3 {
  grid-area: 1 / 3 / 2 / 4;
}

.article-portfolio-4 {
  grid-area: 1 / 4 / 2 / 5;
}

.article-portfolio-5 {
  grid-area: 2 / 1 / 3 / 2;
}

.article-portfolio-6 {
  grid-area: 2 / 3 / 4 / 5;
}

.article-portfolio-7 {
  grid-area: 3 / 1 / 4 / 3;
}

.parent article {
  position: relative;
}

.parent article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fondoNegroTransparente);
  opacity: 0;
  transition: var(--transition-opacity-ease);
  flex-direction: column;
}


.parent article:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  margin: .6em 0 .3em;
}

.overlay h3:hover {
  color: var(--colorCeleste);
}

.overlay h4 {
  font-size: var(--font-size-medium);
  margin: .3em 0;
  color: var(--colorCeleste);
}

.overlay .icon-circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  transition: var(--transition-background-ease);
  cursor: pointer;
  margin-top: .9em;
}

.overlay .icon-circle img {
  width: 40%;
  height: 100%;
  object-fit: contain;
}

.overlay .icon-circle:hover {
  background-color: var(--bg-celeste);
}


/* blog */
.blog-section {
  padding: 5.1em 0;
  background-color: #f4f3f3;
}

.cont-button-next {
  margin-right: 2em;
  margin-bottom: 8em;
}

.next {
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--colorGrisOscuro);
  cursor: pointer;
  border-bottom: 2px solid var(--colorGrisOscuro);
}

.next:hover {
  color: var(--colorNegro);
  border-bottom: 2px solid var(--colorNegro);
}

.cont-button-prev {
  margin-left: 2em;
  margin-bottom: 8em;
}

.prev {
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--colorGrisOscuro);
  cursor: pointer;
  border-bottom: 2px solid var(--colorGrisOscuro);
}

.prev:hover {
  color: var(--colorNegro);
  border-bottom: 2px solid var(--colorNegro);
}

.blog-card {
  width: 23%;
  height: auto;
  text-align: center;
  margin-bottom: 2.5em;
}

.blog-card figure:hover {
  overflow: hidden;
  transition: var(--transition-transform-ease);
}

.blog-card img {
  cursor: pointer;
}

.blog-card img:hover {
  transform: scale(1.05);
  transition: var(--transition-transform-ease);
}

.blog-card h3 {
  font-size: var(--font-size-medium);
  margin: 0.6em 0;
  font-weight: var(--font-weight-bold);
}

.blog-card p {
  font-size: var(--font-size-small);
  color: #888;
}

/* footer */
.footer {
  color: rgba(255, 255, 255, 0.5);
  padding: 4em 0;
  transition: var(--transition-transform-ease-out);
}

.footer-column {
  flex: 1;
  margin: 0 2em;
}

footer img {
  width: 6em;
  margin-bottom: 1em;
}

.footer-hours {
  border-bottom: 1px solid var(--colorGrisOscuro);
  width: 70%;
  padding-bottom: 1.5em;
}

.footer-hours p {
  margin: 0.5em 0;
  font-size: var(--font-size-medium);
}

.separacion-tituloTexto-footer {
  gap: 1em;
}

.footer-social {
  margin-top: 2em;
  gap: 1.5em;
}

.footer-social ul {
  gap: 1.5em;
}

.footer-social a {
  text-decoration: none;
  font-size: var(--font-size-medium);
}

.footer-column p {
  font-size: var(--font-size-medium);
  gap: 0.8em;
}

.p-newsletter-footer {
  margin: 2em 0;
}

.contacts-footer p {
  margin-top: 2em;
  width: 16em;
}

.contacts-footer p:hover {
  color: var(--colorCeleste);
  cursor: pointer;
}

.social-icons i:hover {
  color: var(--colorCeleste);
}

.separacion-tituloTexto-footer input[type="email"] {
  width: 100%;
  padding: 1em 0;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  background: transparent;
  color: var(--colorBlanco);
  position: relative;
}

form input::placeholder {
  color: var(--colorBlanco);
}

form button {
  background-color: var(--colorCeleste);
  border: none;
  border-radius: 50%;
  padding: 0.8em;
  cursor: pointer;
}

form button:hover {
  background-color: var(--colorBlanco);

  .send-form-footer {
    color: var(--colorNegro);
  }
}

.send-form-footer {
  color: var(--colorBlanco);
}

form button:hover .send-form-footer {
  color: var(--colorNegro);
}

form input[type="email"] {
  color: var(--colorBlanco);
}

form input[type="email"]:focus {
  outline: none;
}

form input[type="email"]:focus::placeholder {
  color: transparent;
}

form.invalid input[type="email"] {
  border-bottom: 1px solid #f5543f;
}

form .error-message {
  width: 100%;
  color: var(--colorBlanco);
  font-size: .5em;
  position: absolute;
  bottom: 1.5em;
  left: 24em;
  transform: translateY(100%);
  display: none;
}

form.invalid .error-message {
  display: block;
  width: auto;
}

form .success-message {
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 0.5em;
  position: absolute;
  top: -2em;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

form.success .success-message {
  display: block;
}

/* ABOUT US */
/* banner */
.subtitulo-aboutUs {
  width: 35%;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

/* a few words  */
.few-words-aboutUs {
  margin-bottom: 4em;
  padding: 2em 0;
  display: flex;
  justify-content: center;
}

.text-content h2 {
  font-size: var(--font-size-xl);
}

.cont-title-fewWords {
  width: 40%;
  line-height: 1.5;
}

.info-few-words,
.img-few-words {
  width: 50%;
}

.info-few-words h2 {
  line-height: var(--line-height-big);
}

.navegador-tabs-fewWords {
  width: 80%;
}

.tabs {
  border-bottom: 4px solid #ccc;
  margin-bottom: 1em;
  width: 75%;
}

.tab-item {
  margin: -.3em;
  padding: 1em 0;
  cursor: pointer;
  font-size: var(--font-size-small);
  border-bottom: 4px solid #ccc;
}

.tab-item:hover {
  border-bottom: 4px solid var(--colorCeleste);
}

.tab-item-reseñas:hover {
  border-bottom: 4px solid var(--colorCeleste);
}

.tab-content {
  width: 64%;
  font-size: var(--font-size-medium);
  margin-top: 2em;
  margin-bottom: 3em;
  color: var(--colorGrisOscuro);
}

.shop-now-aboutUs {
  width: 12em;
  margin-top: 2em;
  color: var(--colorBlanco);
  background-color: var(--bg-celeste);
  text-decoration: none;
  padding: 1em 2.5em;
  font-weight: var(--font-weight-bold);
  transition: var(--transition-easing-default-medium);
}

.shop-now-aboutUs:hover {
  background-color: #d1ce0f;
  color: var(--colorNegro);
}

.image-content {
  margin-top: 2em;
}

.tabs .tab-item.active,
.tabs .tab-item-reseñas.active {
  color: var(--colorCeleste);
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.tab-pane p {
  margin-top: 1em;
}

/* our history */
.our-history-aboutUs {
  background-image: url(../images/our-history-aboutUs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 5em;
}

.history-cards {
  gap: 1.5em;
  flex-wrap: wrap;
}

.card {
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 6em;
  flex: 1 1 calc(25% - 1.5em);
}

.card h3 {
  padding: 0 2em;
  margin-bottom: 1em;
  font-weight: var(--font-weight-bold);
}

.card p {
  font-size: var(--font-size-medium);
  color: var(--colorGrisOscuro);
}

.cont-flechas-ourHistory {
  margin: 0 2em;
  padding: 2em 0;
  background-color: rgb(238, 238, 238);
  border-radius: 2em;
}

.cont-button-next-ourHistory {
  margin-right: 15em;
}

.next-ourHistory {
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--colorGrisOscuro);
  cursor: pointer;
  border-bottom: 2px solid var(--colorGrisOscuro);
}

.next-ourHistory:hover {
  color: var(--colorNegro);
  border-bottom: 2px solid var(--colorNegro);
}

.cont-button-prev-ourHistory {
  margin-left: 15em;
}

.prev-ourHistory {
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--colorGrisOscuro);
  cursor: pointer;
  border-bottom: 2px solid var(--colorGrisOscuro);
}

.prev-ourHistory:hover {
  color: var(--colorNegro);
  border-bottom: 2px solid var(--colorNegro);
}

/* our team  */
.our-team-aboutUs {
  flex-wrap: wrap;
}

.team-member {
  padding: 1.5em;
  flex: 1 1 calc(33.333% - 2em);
}

.cont-team-photo {
  border-radius: .8em;
}

.cont-team-photo:hover {
  overflow: hidden;
}

.team-photo {
  border-radius: .8em;
}

.team-photo:hover {
  transform: scale(1.08);
  transition: var(--transition-transform-ease);
}

.team-member-name {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  margin-bottom: 0.5em;
}

.team-member-name-span {
  text-decoration: underline yellow;
}

.team-member-name a:hover .team-member-name-span {
  background-color: yellow;
  transition: all 1s ease-in-out;
}

.team-member p {
  font-size: var(--font-size-small);
  margin-bottom: 1em;
}

.social-links {
  gap: 1em;
}

.social-links a {
  font-family: FontAwesome, sans-serif;
  font-size: var(--font-size-medium);
  color: var(--colorNegro);
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--colorCeleste);
}

.pagination {
  gap: .5em;
  margin-top: 2em;
}

.prev-ourTeam {
  width: 1em;
  height: 1em;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.next-ourTeam {
  width: 1em;
  height: 1em;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.prev-ourTeam:hover,
.next-ourTeam:hover {
  background-color: var(--colorCeleste);
}

/* banner con numeros */
.bannerTiempo-aboutUs {
  background-image: url(../images/bannerTiempo-aboutUs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3em;
}

.stats-container {
  flex-wrap: wrap;
  padding: 6em 18em;
}

.stat-item {
  flex: 1 1 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  margin: 1em 0;
}

.stat-number {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
}

.stat-divider {
  width: 2em;
  height: .1em;
  margin: 1em auto;
}

.stat-description-long {
  padding: 0 1em;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.stat-description {
  padding: 0 5em;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.stat-description-long2 {
  padding: 0 1.5em;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

/* testimonials */
.testimonials-aboutUs {
  padding: 1em 0;
}

.container {
  padding-bottom: 6em;
}

.testimonials-wrapper {
  gap: 2em;
  flex-wrap: wrap;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 2em;
  font-family: 'Times New Roman', Times, serif;
  opacity: 20%;
}

.quote::before {
  content: "“";
  position: absolute;
  left: 0;
  top: -0.5em;
  right: 0;
  bottom: 0;
  font-size: 10em;
  color: var(--colorCeleste);
  font-weight: bold;
}

.testimonial {
  border-radius: .5em;
  box-shadow: var(--box-shadow-lighter);
  padding: 4em 3em;
  flex: 1 1 calc(45% - 2em);
}

blockquote {
  font-style: italic;
  margin: 0 0 1.5em;
  color: var(--colorGrisOscuro);
}

blockquote p {
  font-size: var(--font-size-medium);
}

.author {
  gap: 1em;
}

.author img {
  border-radius: 50%;
}

.name {
  font-weight: var(--font-weight-bold);
}

.role {
  color: var(--colorCeleste);
  font-size: var(--font-size-small);
  font-style: italic;
}

.pagination-testimonials {
  gap: .5em;
}

.prev-testimonials {
  width: 1em;
  height: 1em;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.next-testimonials {
  width: 1em;
  height: 1em;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.prev-testimonials:hover,
.next-testimonials:hover {
  background-color: var(--colorCeleste);
}

/* sponsors */
.sponsors-aboutUs {
  padding: 8em 16em;
}

.sponsors-aboutUs img {
  cursor: pointer;
}

.sponsors-aboutUs img:hover {
  filter: opacity(0.5);
}


/* GRID BLOG */
.blog-section-gridBlog {
  padding: 8em 12em;
}

.blog-container-gridBlog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.blog-card-gridBlog {
  background-color: #f9faf9;
}

.blog-card-gridBlog figure {
  overflow: hidden;
}

.blog-card-Blog img {
  margin-bottom: 1em;
}

.blog-card-gridBlog img:hover {
  transform: scale(1.2);
  transition: var(--transition-transform-ease);
}

.content-gridBlog {
  padding: 2em;
}

.content-gridBlog p {
  font-size: var(--font-size-medium);
  color: #777;
  margin: 0.8em 0;
  text-align: left;
  line-height: var(--line-height-big);
}

.content-gridBlog h3 {
  font-size: var(--font-size-large);
  color: #000;
  margin: 0.5em 0;
  font-weight: var(--font-weight-regular);
  text-transform: math-auto;
}

.content-gridBlog h3:hover {
  color: var(--colorCeleste);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.cont-btn-verMas {
  margin-bottom: 3em;
}

.btn-verMas {
  cursor: pointer;
}


/* SINGLE PRODUCT */
.singleProduct-container {
  padding: 8em 0;
}

.main-image-singleProduct {
  background-color: var(--fondoGrisClaro);
}

.thumbnail-images-singleProduct {
  gap: 1em;
  margin-top: 1em;
}

.inactive-thumbnail {
  background-color: var(--fondoGrisClaro);
}

.active-thumbnail {
  background-color: var(--colorBlanco);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.thumbnail-img {
  padding: 1em;
  cursor: pointer;
}

.thumbnail-img:hover {
  transform: scale(1.2);
}

.product-details-singleProducts {
  padding-left: 3.5em;
  margin-bottom: 13em;
}

hr {
  border: none;
  border-top: 1px solid #e1e1e1;
  margin: 1em 0;
}

.product-details-singleProducts h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.5em;
  color: #151515;
  font-weight: var(--font-weight-bold);
}

.price {
  font-size: var(--font-size-large);
  color: var(--colorCeleste);
  margin-bottom: 0.5em;
}

.rating {
  color: #eec40c;
  margin-bottom: .5em;
  margin-left: 1em;
  font-size: var(--font-size-xl);
}

.description-singleProduct {
  margin-bottom: 1em;
  width: 40em;
}

.product-info-singleProduct {
  padding: 0;
  margin: 1em 0;
  color: #666;
}

.product-info-singleProduct li {
  margin-bottom: 0.5em;
  font-size: var(--font-size-medium);
}

.add-to-cart-singleProduct {
  margin-top: 2em;
  gap: 1em;
}

.quantity-controls-singleProduct {
  gap: .5em;
}

.quantity-display-singleProduct {
  width: 5em;
  height: 5em;
  border: none;
  border-radius: .5em;
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.quantity-buttons-singleProduct {
  gap: 0.2em;
}

.quantity-increase-singleProduct {
  width: 1.7em;
  height: 1.7em;
  border: none;
  border-radius: .5em;
  font-size: var(--font-size-large);
  font-weight: bold;
  cursor: pointer;
}

.quantity-decrease-singleProduct {
  width: 1.7em;
  height: 1.7em;
  border: none;
  border-radius: .5em;
  font-size: var(--font-size-large);
  font-weight: bold;
  cursor: pointer;
}

.quantity-increase-singleProduct:hover,
.quantity-decrease-singleProduct:hover {
  color: var(--colorCeleste);
}

.add-button-singleProduct {
  padding: 1.8em 3em;
  background-color: #e9da5d;
  border: none;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

.add-button-singleProduct:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco);
}

.share-singleProduct {
  margin-top: 2em;
}

.share-singleProduct p {
  font-size: var(--font-size-medium);
}

.cont-share-singleProduct {
  padding-top: 1em;
  gap: 1em;
}

.social-icons-singleProduct a:hover {
  color: var(--colorCeleste);
}

.featured-products-singleProduct {
  padding-bottom: 6em;
}

.container-allProducts-singleProduct {
  gap: 2em;
}

.container-allProducts-singleProduct :hover {
  background-color: #f9faf9;
}

.title-featuredProducts-singleProduct {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.navegador-tabs-reseñas {
  width: 100%;
}

.pestañas-reviews {
  width: 100%;
  gap: 6em;
}

.tab-item-reseñas {
  margin: -.33em;
  padding: 1em 0;
  cursor: pointer;
  font-size: var(--font-size-small);
  border-bottom: 4px solid #ccc;
}

.review {
  margin: 2em 0;
  gap: 1em;
}

.review img {
  width: 10%;
  height: 10%;
}

.review-content {
  gap: 1em;
  flex: 1;
}

.rating {
  font-size: var(--font-size-medium);
}

.title-reseñas {
  gap: 1em;
  font-weight: 500;
}

.review-date {
  font-size: var(--font-size-medium);
  color: #777777;
}

.tituloFormReview {
  font-size: var(--font-size-large);
  text-transform: initial;
  font-weight: 500;
}

.cont-general-reseñas-form {
  width: 100%;
}

.form-column-reseñas {
  width: 33.3%;
}

.form-review .form-group {
  max-width: 28em;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

textarea::placeholder {
  color: var(--colorNegro);
}

.separador-columnas {
  gap: 2em;
}

.submit-button-reseñas {
  padding: 1.2em 3em;
  background-color: #e9da5d;
  font-size: var(--font-size-medium);
  cursor: pointer;
  border-radius: inherit;
}

.submit-button-reseñas:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco);
}


/* CHECKOUT */
.checkout-form {
  padding: 4em;
  background-color: var(--colorBlanco);
}

.form-container {
  gap: 3em;
  max-width: 1200px;
  width: 100%;
}

.form-section {
  width: 50%;
}

.form-section h3 {
  margin-bottom: 1em;
  font-size: 2.2em;
  color: var(--colorNegro);
  font-weight: 500;
  letter-spacing: .025em;
  text-transform: uppercase;
}

.form-row {
  gap: 2em;
}

.form-group {
  flex: 1;
  position: relative;
  margin-bottom: 2em;
}

.form-review .form-group {
  max-width: 28em;
}

.form-group label {
  display: block;
  font-size: var(--font-size-small);
  color: #333;
  margin-bottom: 0.5em;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding: .8em 0;
  font-size: var(--font-size-medium);
  color: #333;
  background: transparent;
}

.form-group input::placeholder {
  color: var(--colorNegro);
  font-size: var(--font-size-medium);
  transition: all 0.2s ease;
}

.form-group input:focus {
  outline: none;
  border-bottom: 1px solid #e1e1e1;
}

.form-group input:focus::placeholder {
  color: transparent;
}

.form-group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding: 0.5em 0;
  font-size: 1em;
  color: #333;
  background: transparent;
}

.form-group textarea::placeholder {
  color: #000;
  font-size: 1em;
  transition: all 0.2s ease;
}

.form-group textarea:focus {
  outline: none;
  border-bottom: 1px solid #e1e1e1;
}

.form-group textarea:focus::placeholder {
  color: transparent;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

label[for="same-address"] {
  font-size: var(--font-size-small);
  color: #666;
}

.checkbox-container {
  gap: 0.5em;
  margin-top: 1em;
}

.checkbox-container input[type="checkbox"] {
  margin: 0;
  width: 1.1em;
  height: 1.1em;
}

.checkbox-container label {
  font-size: var(--font-size-medium);
  color: #666;
}

.shopping-cart-container {
  max-width: 1200px;
  margin: 0 auto;
}

.shopping-cart-container h2 {
  font-size: 2.2em;
  font-weight: 400;
  color: var(--colorNegro);
}

.shopping-cart-box {
  background-color: var(--colorBlanco);
  border: 1px solid #e1e1e1;
  padding: 1.2em;
  margin-bottom: 1.9em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #777777;
  font-weight: 500;
  padding-bottom: .6em;
  border-bottom: 2px solid #eaeaea;
}

tbody td {
  padding: 1.2em 0;
  font-size: var(--font-size-large);
  color: var(--colorNegro);
}

.product-info {
  width: 7em;
  height: 7em;
  object-fit: cover;
  margin-right: 1em;
  background: var(--fondoGrisClaro);
}

.span-product-info {
  font-size: var(--font-size-medium);
  color: var(--colorNegro);
  text-transform: uppercase;
}

.boton-quantity-control {
  width: 2em;
  height: 2em;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: var(--font-size-small);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.boton-quantity-control:hover {
  background-color: #f5f5f5;
}

.input-quantity-control {
  width: 3em;
  margin: 0 .6em;
  pointer-events: none;
  border: transparent;
}

.checkout-section {
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
  margin-bottom: 1.8em;
}

.section-title {
  font-size: var(--font-size-xl);
  font-weight: 400;
}

.payment-methods-container,
.cart-total-container {
  flex: 1;
}

.payment-box,
.cart-box {
  background: var(--colorBlanco);
  border: 1px solid #eaeaea;
}

.payment-box {
  padding: 1em 0;
}

.payment-box label {
  display: block;
  margin-bottom: 2em;
  margin-left: 1em;
}

.payment-box input[type="checkbox"] {
  margin-right: .6em;
}

.method-title {
  font-size: var(--font-size-medium);
  color: #151515;
  font-weight: 500;
}

.method-description {
  color: #888;
  font-size: var(--font-size-small);
  margin: 1em 0 0;
}

.cart-box .cart-row {
  padding: 1.5em 0;
  border-bottom: 1px solid #eaeaea;
}

.summary-title {
  font-size: var(--font-size-medium);
  color: #151515;
  margin-left: 1.5em;
}

.summary-value {
  font-size: var(--font-size-medium);
  color: #151515;
  margin-right: 1.5em;
}


/* GRID SHOP */
.grid-shop-container {
  align-items: flex-start;
  gap: 2em;
  padding: 7em 0;
}

.categories-grid-shop h4 {
  font-weight: 400;
  margin-top: 3em;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 1em;
}

.categories-grid-shop ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

.categories-grid-shop li {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  font-size: var(--font-size-medium);
}

.grid-shop-aside {
  width: 15em;
}

.grid-shop-aside h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.grid-shop-aside ul {
  list-style: none;
  padding: 0;
}

.grid-shop-aside li {
  margin-bottom: 0.8em;
}

.category-count {
  color: #777;
}

.search-form-blog-post {
  margin: 2em 0;
}

.search-blog-post {
  display: flex;
  align-items: center;
  background: #f9faf9;
  padding: 0.5em 0;
  width: 250px;
}

.search-input-blog-post {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0.5em;
}

.search-input-blog-post::placeholder {
  color: #777;
}

.search-button-blog-post {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-lupa-blog-post {
  width: 1.2em;
  height: 1.2em;
}

.container-latest-posts {
  margin: 1em 0;
}

.post-date {
  color: var(--colorCeleste);
}

.grid-shop-aside a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.grid-shop-products {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.price-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  max-width: 300px;
}

.slider {
  --webkit-appearance: none;
  width: 100%;
  height: 0.5em;
  background: #e1e1e1;
  border-radius: 4px;
  outline: none;
  opacity: 0.7;
  transition: opacity .15s ease-in-out;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background: var(--bg-celeste);
  border-radius: 50%;
  cursor: pointer;
}

.filter-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.filter-button {
  background: #f0db4f;
  color: #151515;
  border: none;
  padding: 1em 1.5em;
  cursor: pointer;
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco)
}

.filtro-grid-shop h4 {
  font-weight: 400;
  margin-bottom: 2em;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 1em;

}

.grid-shop-products article.cont-center.contenedor-fila-trending-products.show {
  width: 75%;
}

.price-text {
  white-space: nowrap;
  font-size: 1em;
  margin-left: 1em;
}

.popular-products {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.popular-products img {
  width: 6em;
  height: 7em;
  background-color: var(--bg-grisClaro);
  padding: 0.5em;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5em;
}

.results-text {
  font-size: 1em;
  color: #333;
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 1em;
}

#sort-by {
  padding: 5px;
  font-size: 1em;
  border-radius: 4px;
  border: none;
}

.view-options {
  display: flex;
  gap: 5px;
}

.view-options button {
  border: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
  opacity: 0.5;
}

.view-options .active {
  opacity: 1;
  font-weight: bold;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

/* *BLOG POST*/
*/
/* .wrapper {
  padding: 0 2em;
} */

.containerBlogPost {
  align-items: flex-start;
  max-width: 75%;
  width: 100%;
  gap: 3em;
}

.content {
  flex: 2.5;
  background: var(--colorBlanco);
  padding: 2em;
}

.category {
  font-size: var(--font-size-small);
  color: #151515;
  text-transform: uppercase;
}

.date {
  font-size: var(--font-size-medium);
  color: var(--colorGrisOscuro);
}

.content h2 {
  margin-top: 0.5em;
  font-size: 2.25em;
}

.textoPost {
  color: var(--colorGrisOscuro);
  max-width: 95%;
}


.content img {
  height: auto;
  margin-bottom: 1.5em;
}

/* /SIDEBAR/ */

.sidebar {
  flex: 1;
  background: var(--colorBlanco);
  padding: 2em;
  margin-top: 1em;
}

.separator {
  color: #e1e1e1;
}

.profile {
  border: 1px solid #e1e1e1;
  margin-bottom: 2em;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}

.profile img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.tituloPost {
  text-align: start;
  text-transform: none;
}

.search {
  position: relative;
  margin-top: 3em;
}

.search input {
  width: 100%;
  padding: 1.5em;
  border: none;
  background: #f9faf9;
}

.img-lupa-blog-post {
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.search input:focus {
  outline: none;
  border: none;
}

.search input:focus::placeholder {
  transition: all 0.2s ease;
  color: transparent;
}

.categories-blog-post h4 {
  font-weight: 400;
  margin-top: 3em;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 1em;
}


.categories-blog-post ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

.categories-blog-post li {
  width: 100%;
  margin-bottom: 1em;
  font-size: var(--font-size-medium);
}

.category-count {
  color: var(--colorGrisOscuro);
}

.latest-post {
  gap: 1em;
  margin-bottom: 1em;
}

.latest-post img {
  width: 7em;
  height: 7em;
  object-fit: cover;
}

.post-title {
  font-size: 1.2em;
  color: #151515;
  margin: 0;
}

.post-date {
  font-size: var(--font-size-medium);
  color: var(--colorCeleste);
  margin: 0;
}

.container-latest-posts {
  margin-top: 2em;
}

.nombreAside {
  font-weight: 400;
  color: #151515;
}

.subtituloAside {
  margin-top: 1em;
  color: var(--colorGrisOscuro);
}

.links-popular-tags {
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 2em;
  max-width: 15em;
}

.links-popular-tags a {
  color: var(--colorGrisOscuro);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--font-size-small);
  text-align: center;
}

.links-popular-tags a:hover {
  color: var(--bg-celeste);
  transition: color 0.3s;
}

.archive-blog-post h4 {
  font-weight: 400;
  margin-top: 3em;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 1em;
}

.archive-list {
  list-style: none;
  padding: 0;
}

ul.archive-list {
  margin-top: 1em;
}

.archive-list li {
  gap: 1em;
  font-size: var(--font-size-medium);
  color: #151515;
}

.archive-list li::before {
  content: "•";
  font-size: var(--font-size-xl);
  color: #e9da5d;
}

/* /ACÁ TERMINA EL SIDEBAR/ */

.containerContinuation {
  background: var(--colorBlanco);
  margin-top: 2em;
}

blockquote {
  margin-bottom: 1em;
}

.continuationText {
  color: #777;
  line-height: 1.6;
}

.links {
  gap: 1em;
  margin-top: 1em;
  padding-top: 2em;
  border-top: 1px solid #e1e1e1;
}

.links a {
  color: var(--colorGrisOscuro);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

.links a:hover {
  color: var(--bg-celeste);
  transition: color 0.3s;
}

.social-media {
  margin-top: 1em;
}

.social-media a img {
  width: 2em;
  margin-right: 0.5em;
}

ul.flex.social-icons-blog-post {
  display: flex;
  gap: 1.5em;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

ul.flex.social-icons-blog-post:hover {
  color: var(--bg-celeste);
  transition: color 0.3s;
}

.social-icons-blog-post .text-grey {
  margin-right: 1em;
}

.comillas {
  flex-direction: row;
}

.quote-post {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  opacity: 20%;
}

.quote-post::before {
  content: "“";
  position: absolute;
  left: 0;
  top: -0.5em;
  right: 0;
  bottom: 0;
  font-size: 10em;
  color: var(--colorCeleste);
  font-weight: bold;
}

.textoComilla {
  padding-left: 4em;
  color: #151515;
  font-style: normal;
  font-size: 1.5em;
}

.related-posts {
  margin-top: 3em;
}

.related-posts h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.tituloRelatedPosts {
  font-size: var(--font-size-medium) !important;
  margin-bottom: 2em !important;
  font-weight: 400;

}

.posts-container {
  gap: 2em;
}

.comments-section {
  padding-top: 4em;
}

.tituloComments {
  font-size: var(--font-size-medium);
  font-weight: 400;
  padding-bottom: 2em;
}

.comment {
  align-items: flex-start;
  margin-bottom: 2em;
  border-bottom: 1px solid #e1e1e1;
}

.comment img {
  width: 8em;
  height: 8em;
  margin-right: 1em;
}

.comment-content {
  flex: 1;
}

.comment-header {
  margin-bottom: 0.5em;
}

.comment-header strong {
  font-size: 1.25em;
  font-weight: 400;
  color: #151515;
}

.comment-header .reply {
  color: var(--colorCeleste);
  cursor: pointer;
  font-weight: bold;
}

.comment-header time {
  float: right;
  font-size: var(--font-size-medium);
  color: var(--colorGrisOscuro);
}

.reply-comment {
  margin-left: 10em;
}

.leave-a-comment {
  margin-top: 5em;
  margin-bottom: 5em;
}

.submit-button-blogPost {
  padding: 1.8em 4em;
  background-color: #e9da5d;
  border: none;
  font-size: var(--font-size-medium);
  cursor: pointer;
  border-radius: inherit;
}

.submit-button-blogPost:hover {
  background-color: var(--bg-celeste);
  color: var(--colorBlanco);
}


/* Media query for celular devices (max-width: 767px) */
@media screen and (max-width: 767px) {

  body {
    font-size: 12px;
  }

  .contenedor-logo-navbar {
    width: 10vh;
  }

  .nav-lista-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--colorBlanco);
    z-index: 1000;
    padding: 1em 0;
    text-align: center;
  }

  .nav-lista-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .img-icons-navbar {
    width: 5vw;
    height: 5vw;
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  .carousel-content {
    width: 70%;
  }

  .contenedor-fila-categories {
    flex-direction: column;
  }

  .categories-section {
    height: 175vh;
  }

  .articulos-categories {
    margin-bottom: 15px;
  }

  .img-articulo-categories {
    width: 15vw;
  }

  .contenedor-fila-trending-products {
    flex-wrap: wrap;
    justify-content: center;
  }

  .articulo-trending-products {
    margin: .5em;
  }

  .articulo-trending-products img {
    width: 25vw;
  }

  .cont-article-founder-section {
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
  }

  .title-founder-section {
    font-size: var(--font-size-xl);

  }

  .founder-info {
    margin: 15px 0;
  }

  .founder-sign {
    font-size: var(--font-size-small);
  }

  .parent {
    padding: 0 1em;
    margin-bottom: 3.125em;
    display: flex;
    flex-direction: column;
  }

  .parent figure {
    width: 100%;
    height: 100%;
  }

  .parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-medium);
  }

  .parent article {
    width: 100%;
    height: auto;
  }

  .parent article .overlay {
    height: 99%;
  }

  .footer {
    text-align: center;
  }

  .footer-container,
  .footer-column {
    margin: 1em 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    max-width: 30vw;
  }

  .footer-hours {
    width: 100%;
  }

  .contacts-footer p {
    max-width: 50vw;
  }

  /*ABOUT US RESPONSIVE*/
  /* Sección "A Few Words About Us" */
  .few-words-aboutUs {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .subtitulo-aboutUs {
    width: 100%;
  }

  ul.tabs.flex.align-items-center.between {
    width: 100%;
    justify-content: space-around;
  }


  .cont-title-fewWords {
    width: 100%;
  }

  .cont-center.text-content.w-80 {
    display: block;
  }

  .info-few-words,
  .img-few-words {
    width: 100%;
  }

  .info-few-words h2 {
    text-align: center;
  }

  .navegador-tabs-fewWords {
    width: 100%;
  }

  .tab-content {
    width: 90%;
    margin: 1.5em auto;
  }

  .shop-now-aboutUs {
    width: 100%;
    display: block;
    padding: 1em 0;
  }

  /* Sección "Our History" */
  .our-history-aboutUs {
    padding: 2em;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .history-cards {
    flex-direction: column;
    gap: 1em;
  }

  .card {
    flex: 1 1 100%;
    padding: 2em;
  }

  /* Controles de navegación de historia */
  .cont-flechas-ourHistory {
    text-align: center;
    padding: 1em 0;
  }

  .cont-button-prev-ourHistory,
  .cont-button-next-ourHistory {
    margin: 0em 1em;
  }

  /* Sección "Our Team" */
  .our-team-aboutUs {
    text-align: center;
  }

  .team-member {
    flex: 1 1 100%;
  }

  /* Sección de estadísticas */
  .bannerTiempo-aboutUs .stats-container {
    flex-direction: column;
    padding: 3em 1em;
    text-align: center;
  }

  .stat-item {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 1em 0;
  }

  /* Testimonios */
  .testimonials-aboutUs {
    padding: 1em;
  }

  .testimonials-wrapper {
    flex-direction: column;
    gap: 1em;
  }

  .testimonial {
    flex: 1 1 100%;
    padding: 2em;
  }

  /* Patrocinadores */
  .sponsors-aboutUs {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .sponsors-aboutUs a {
    flex: 1 1 45%;
    text-align: center;
  }

  .sponsors-aboutUs img {
    max-width: 100%;
    height: auto;
  }

  /*ACA TERMINA ABOUT US RESPONSIVE*/

  /*GRID BLOG RESPONSIVE*/

  .blog-section-gridBlog {
    padding: 3em 4em;
  }

  .blog-container-gridBlog {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .content-gridBlog {
    padding: 1em;
  }

  .content-gridBlog p {
    font-size: var(--font-size-small);
  }

  .content-gridBlog h3 {
    font-size: var(--font-size-medium);
  }

  .blog-card-gridBlog figure img {
    width: 100%;
    height: auto;
  }

  .cont-btn-verMas {
    text-align: center;
  }

  .btn-verMas {
    width: 100%;
    max-width: 300px;
    display: inline-block;
  }

  /*ACA TERMINA GRID BLOG RESPONSIVE*/

  /*SINGLE PRODUCT RESPONSIVE*/

  .singleProduct-container {
    padding-top: 4em;
    padding-bottom: 0em;
  }

  .singleProduct-container .cont-center {
    display: block;
  }

  .main-image-singleProduct img {
    width: 100%;
  }

  .pestañas-reviews {
    display: flex;
    justify-content: space-between;
  }

  .thumbnail-images-singleProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    margin-top: 1em;
  }

  .thumbnail-img {
    padding: 0.5em;
  }

  .product-details-singleProducts {
    padding-left: 0em;
    margin-bottom: 4em;
    margin-top: 2em;
  }

  .description-singleProduct {
    width: 100%;
  }

  .product-info-singleProduct {
    margin: 1em 0;
  }

  .add-to-cart-singleProduct {
    gap: 1em;
  }

  .price {
    font-size: var(--font-size-xl);
  }

  .rating {
    font-size: var(--font-size-xl);
  }

  span.rating {
    font-size: var(--font-size-medium);
  }

  .review-content {
    margin-top: 1em;
  }

  .quantity-controls-singleProduct {
    gap: 0.5em;
  }

  .quantity-display-singleProduct {
    width: 5em;
    height: 5em;
    font-size: var(--font-size-medium);
  }

  .quantity-buttons-singleProduct {
    gap: 0.3em;
  }

  .quantity-controls-singleProduct.cont-center {
    display: flex;
  }

  .quantity-buttons-singleProduct.column.cont-center {
    display: flex;
  }

  .add-button-singleProduct {
    padding: 1.5em 2.5em;
  }

  .share-singleProduct {
    margin-top: 1.5em;
  }

  .share-singleProduct p {
    font-size: var(--font-size-medium);
  }

  .social-icons-singleProduct a {
    font-size: var(--font-size-medium);
  }

  .featured-products-singleProduct {
    padding-bottom: 3em;
  }

  .container-allProducts-singleProduct {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
  }

  .navegador-tabs-reseñas {
    width: 100%;
  }

  .pestañas-reviews {
    gap: 2em;
  }

  .tab-item-reseñas {
    font-size: var(--font-size-small);
    padding: 0.8em 0;
    margin: -.35em;
  }

  .review {
    margin: 1.5em 0;
    gap: 1em;
    display: block;
  }

  .review img {
    width: 20%;
    height: auto;
  }

  .review-content {
    flex: 1;
  }

  .form-column-reseñas {
    width: 100%;
  }

  .form-review .form-group {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5em;
  }

  .separador-columnas {
    flex-direction: column;
    gap: 0em;
  }

  .submit-button-reseñas {
    width: 100%;
    padding: 1.2em;
  }

  /*ACA TERMINA SINGLE PRODUCT RESPONSIVE*/

  /*CHECKOUT RESPONSIVE*/

  .checkout-form {
    padding: 2em;
  }

  .form-container {
    flex-direction: column;
    gap: 2em;
  }

  .form-section {
    width: 100%;
  }

  .form-section h3 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 1em;
  }

  .form-row {
    flex-direction: column;
    gap: 0em;
  }

  .form-group {
    width: 100%;
  }

  .shopping-cart-container {
    padding: 2em;
  }

  .shopping-cart-box {
    padding: 1em;
  }

  table {
    width: 100%;
  }

  thead th {
    font-size: 1em;
  }

  tbody td {
    font-size: 1.1em;
  }

  .shopping-cart-container h2 {
    margin-top: 0em;
    text-align: center;
  }

  .section-title {
    text-align: center;
    margin-top: 0em;
  }

  .product-info {
    width: 5em;
    height: 5em;
  }

  .span-product-info {
    font-size: 1em;
  }

  .boton-quantity-control {
    width: 1.8em;
    height: 1.8em;
    font-size: 0.9em;
  }

  .input-quantity-control {
    width: 2.8em;
  }

  .checkout-section {
    flex-direction: column;
  }

  .payment-methods-container,
  .cart-total-container {
    width: 100%;
    padding: 2em;
  }

  .payment-box,
  .cart-box {
    padding: 1.5em;
  }

  .summary-title,
  .summary-value {
    font-size: 1.1em;
  }

  .method-title {
    font-size: 1.1em;
  }

  .method-description {
    font-size: 1em;
  }
  /*ACA TERMINA CHECKOUT RESPONSIVE*/

   /*BLOG POST RESPONSIVE*/
   .containerBlogPost {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .comillas {
    flex-direction: column;
  }

  .textoComilla {
    margin-top: 2em;
    text-align: center;
    padding: 0;
  }

  .continuationText {
    text-align: center;
  }

  .content {
    flex: none;
    padding: 1.5em;
    width: 100%;
  }

  .tituloPost {
    font-size: 1.8em;
  }

  .textoPost {
    font-size: 1em;
    max-width: 100%;
  }

  .posts-container{
    display: block;
  }

  .content img {
    width: auto;
    margin-bottom: 1.5em;
  }

  .sidebar {
    flex: none;
    margin-top: 2em;
    width: 100%;
    padding: 1.5em;
  }

  .profile img {
    width: 6em;
    height: 6em;
  }

  .tituloRelatedPosts,
  .tituloComments {
    text-align: center;
  }

  .related-posts,
  .comments-section {
    margin-top: 2em;
    padding: 1em;
    width: 100%;
  }

  .leave-a-comment form {
    display: block;
    width: 100%;
  }

  .leave-a-comment .form-row {
    flex-direction: column;
    gap: 1em;
  }

  .leave-a-comment .form-group input,
  .leave-a-comment .form-group textarea {
    width: 100%;
  }

  .search input {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
  }

  .img-lupa-blog-post {
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
  }

  .links-popular-tags {
    flex-wrap: wrap;
        gap: 2em;
        max-width: 100%;
        text-align: center;
        justify-content: center;
  }

  .archive-blog-post h4 {
    margin-top: 2em;
    text-align: center;
  }

  .archive-list li {
    font-size: 1em;
  }

  .reply-comment{
    margin-left: 0em;
  }
  
  .comment{
    display: block;
  }

  p.comment-text {
    margin-bottom: 2em;
}

.submit-button-blogPost{
  width: 100%;
}

.categories-blog-post h4{
  text-align: center;
}


ul.archive-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /*ACA TERMINA BLOG POST RESPONSIVE*/
}